/* Start Variables */
:root {
    --primaryColor: #2F80ED;
    --mainTextColor: #585978;
    --textColor-alt: #323450;
    --BackgroundColor: #f3f3f3;
    --BackgroundColor-alt: #EAEAEA;
    --whiteColor: #fff;
    --blackColor: #000;
    --lightBlueColor: rgba(47, 128, 237, 0.2);
    --lineHeight: 1.5;
    --letterSpacing: 0.1rem;
    --mainFontFamily: 'Heebo', sans-serif;
    --secondaryFontFamily: 'Fira Sans', sans-serif;
    --mainTransition: all 1s ease-in-out;
}

/* General Rules */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: var(--lineHieght);
    font-family: var(--mainFontFamily);
    color: var(--mainTextColor);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 4rem;
    font-family: var(--mainFontFamily);
    color: var(--textColor-alt);
}

h3 {
    font-size: 3rem;
    font-family: var(--secondaryFontFamily);
    color: var(--textColor-alt);
}

h4 {
    font-size: 2rem;
    font-family: var(--secondaryFontFamily);
    color: var(--textColor);
    text-transform: capitalize;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    padding: 8rem 0;
}

/* Start Helper */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: var(--letterSpacing);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    transform: scale(0);
    transform-origin: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: var(--mainTransition);
}

.btn:hover::before {
    transform: scale(1);
    width: 50rem;
    height: 50rem;
    border-radius: 0;
}

.btn-large {
    width: 16rem;
    height: 6rem;
}

.btn-small {
    width: 12rem;
    height: 4rem;
}


.btn-rounded {
    border-radius: 10px;
}

.section-heading-center {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.section-heading-left {
    width: 40%;
}

.section-title {
    margin-bottom: 3rem;
}

.icon-wrapper {
    background: var(--primaryColor);
    width: 8rem;
    height: 8rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper-circle {
    border-radius: 50%;
    background: var(--whiteColor);
}

.icon-large {
    font-size: 4rem;
    color: var(--whiteColor);
}

.icon-small {
    font-size: 2rem;
    color: var(--primaryColor);
}

/* End Helper */

/* Start Header */
.header {
    height: 10rem;
    background-color: var(--whiteColor);
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    flex: 0 0 45%;
    display: flex;
    justify-content: space-between;
}


.nav-link {
    font-weight: 500;
    color: inherit;
    padding: 1rem 0;
    position: relative;
}

.nav-link::before,
.link-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primaryColor);
    transition: var(--mainTransition);
}

.link-active::before {
    width: 100%;
}

.nav-link:hover::before {
    width: 100%;
}

/* End Header */

/* Start Hero */
.home {
    position: relative;
    margin-top: 2rem;
    height: 900px;

}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 900px;
    background: var(--lightBlueColor);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    flex: 0 0 50%;
    align-self: center;
    margin-right: 2rem;
}

.hero-subtitle {
    font-size: 3rem;
    color: var(--primaryColor);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}


.hero-title {
    font-size: 6rem;
    font-weight: 600;
    color: var(--textColor-alt);
}

.hero-desc {
    font-size: 2rem;
    letter-spacing: var(--letterSpacing);
    line-height: var(--lineHeight);
    margin-top: 2.5rem;
}

.hero-image-wrapper {
    position: relative;
}

.hero-img {
    margin-top: 10rem;
    display: block;
    width: 100%;
}

.hero-img-pattern {
    position: absolute;
    left: -8rem;
}

/* End Hero */

/* Start Services */
.services {
    position: relative;
}

.services-content {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}

.services-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 60%;
    margin-right: 2rem;
}

.service {
    margin-top: 3rem;
    flex: 0 0 calc(100% / 2 - 3rem);
}




.service-title {
    margin: 2rem 0;
    text-transform: capitalize;
    font-size: 2.4rem;
    color: var(--textColor-alt);
}

.services-image {
    position: absolute;
    right: 0;
    bottom: -7px;
}

/* End Services */

/* Start About */
.about {
    background: var(--BackgroundColor);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 0 0 45%;
}

.about-text .section-heading-left {
    width: 100%;
}

.about-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--BackgroundColor-alt);
    text-align: center;
    padding: 2rem;
    margin: 3rem 0 3rem;

}

.counter {
    flex: 0 0 calc(100% / 3);
    padding: 1rem;
    border-right: 1px solid #000;
}

.counter:last-child {
    border: none;
}

.counter-info {
    margin-top: 1.5rem;

}

/* End About */

/* Start Portfolio */

.portfolio-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.portfolio-image-wrapper {
    position: relative;
}

.portfolio-img {
    display: block;
    width: 100%;
}

.portfolio-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* End Portfolio */